server:
  port: 8084

spring:
  application:
    name: resume-service

  datasource:
    url: jdbc:postgresql://localhost:5436/resumedb
    username: resumeuser
    password: resumepass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  logging:
    level:
      org.springframework.cloud.gateway: INFO
      com.vlz: DEBUG


kafka:
  bootstrap-servers: localhost:9092

clients:
  user-service:
    url: http://localhost:8082

